---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,400italic,600italic,700);

/* VARIABLES
-------------------------------------------------*/
/* colors */
$green: #60BE9B;
$light-green: #F1F9F6;
$red: #e75252;
$grey: #f5f5f5;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$light-gray: #cfd8dc;
$red: #dc3545;
$text-color: #343a40;
$text-hover-color: #000;
$nav-text-color: $text-color;
$nav-hover-color: #7DCAAD;
$btn-hover-color: $nav-hover-color;
$link-color: #3B9171;
$blue-bbma: #16232d;

/* Font, line-height, and color for body text, headings, and more */
$font-family-sans-serif: "Source Sans Pro",Arial,Helvetica,sans-serif;
$font-family-serif: "Source Serif Pro", Georgia, Times, serif !default;
$font-family-base: $font-family-sans-serif;
$font-size-base: 1rem; /* Assumes the browser default, typically `16px`*/
$font-size-xxl: $font-size-base * 1.75;
$font-size-xl: $font-size-base * 1.5;
$font-size-lg: $font-size-base * 1.25;
$font-size-md: $font-size-base * 1.125;
$font-size-sm: $font-size-base * .875;
$font-size-xs: $font-size-base * .75;
$line-height-base: 1.5;
$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;


/* GLOBALS
--------------------------------------------------*/
body {
  font-family: $font-family-sans-serif;
  color: $text-color;
}

strong {
  font-weight: bold;
}

hr {
  margin: 1.75rem 0;
}

/* TOP BAR
--------------------------------------------------*/

.top-bar-bbma {
  .nav-link {
    color: #fff;
    font-size: 1.125rem;
    padding: .75rem !important;
    &:hover {
      color: $green;
    }
  }
}

/* HEADER
--------------------------------------------------*/
#navbar-main {

  background: $green;
  font-family: $font-family-serif;
  padding: 0;

  .navbar-brand {
      font-family: $font-family-serif;
      font-variant: small-caps;
      font-size: $h3-font-size;
      margin-top: 0.3125rem;
      margin-bottom: 0.3125rem;
      padding: 0;
      color: $nav-text-color;
  }

  .nav-link {
    font-size: $font-size-md;
    padding: .875rem !important;
    color: $nav-text-color;
    &:hover {
      background-color: $nav-hover-color;
      color: $text-hover-color;
    }
  }

  .language-switcher {
    .nav-link {
      position: relative;
      &:first-child {
        &:after {
          content: '|';
          position: absolute;
          right: -2px;
          color: $nav-text-color;
          z-index: 100;
        }
      }
    }
    .language-link {
      text-transform: uppercase;
      color: $nav-text-color;
      text-decoration: none;
    }
  }
}

/*@include media-breakpoint-up(xl) {
    #navbar-main .navbar-brand {
        margin-right: 3rem !important;
    }
}*/
@media (min-width: 1200px) {
  #navbar-main .navbar-brand {
    margin-right: 3rem !important;
  }
}

/* FORMS
--------------------------------------------------*/

.forms form {
  margin: 1.5rem 0;
  align-items: flex-end;
}

.form-label {
  margin: 0 .25rem .25rem 0;
  font-weight: 600;
}

.form-control,
.form-select {
  border-color: $gray-400 !important;
  border-radius: 0;

  &:focus {
    box-shadow: 0 0 0 .25rem rgba(96, 190, 155, .25);
  }
}

.form-control {
  &::placeholder {
    color: $gray-500;
  }
}

.form-check-input {
  border-color: $gray-400 !important;
}

form {
  button {
    height: 38px;
  }
  .btn-outline-danger {
    background: none;
    color: $red;
    border: 1px solid $red;
    &:hover,
    &:focus {
      background: $red !important;
      color: white;
      border: 1px solid $red !important;
    }
  }
}

#traitement {
  .form-select {
    max-width: 130px;
  }
}

.btn-group-traitement {
  button {
    margin-right: .25rem;
  }
}

.form-check-input {
  margin-right: .25rem;
}

@media (max-width: 575.98px) {
  form {
    .btn-outline-danger {
      margin-top: .5rem;
    }
    .btn-group-traitement {
      button {
        margin-bottom: .5rem;
      }
    }
  }
}

/* RESULTS
--------------------------------------------------*/

.results-container {
  margin-bottom: 5rem;
  padding-bottom: 5rem;
  border-bottom: 3px solid $green;

  .results-header {
    width: 100%;
    border-top: 3px solid $green;
    z-index: 1000;
    text-align: center;

    .scrolltop {
      display: inline-block;
      font-size: $font-size-md;
      padding: .375rem .75rem;
      margin: 0 auto;
      background-color: rgba(255, 255, 255, .8);
      border: 0.9px solid darken($green, 20%) !important;
      border-top-width: 0 !important;
      color: darken($green, 20%);
    }
  }
}

#results {

  padding-top: 3rem;

  .attribution {
    font-size: $font-size-sm;
    font-style: italic;
    color: $gray-600;
  }

  .liste-liens {
    margin-bottom: 1.5rem;
  }

  .pager {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: space-between;

    li {
      a {
        background-color: $green;
        color: $text-color;
        word-break: break-all;
        padding: .375rem .75rem;
        border: none;
        border-radius: 0px;
        text-decoration: none;

        &:hover {
          background: $nav-hover-color !important;
          color: $text-hover-color;
          border: none !important;
        }
      }
    }
  }

  h4 {
    font-family: $font-family-serif;
    font-size: $h5-font-size;
  }

  /*.selectLayoutDiv {
    display: none;
  }*/

  #colMots {
    display: block;
    background: none;
    color: #333;
    padding-left: 0px;

    .glyphicon-list {
      padding-right: 5px;
    }
  }

  /* Eulexis-web */

  .selectLayoutDiv {
    text-align: right;

    .columnBtn,
    .rowBtn {
      display: inline-block;
      width: 16px;
      height: 16px;
      margin-right: 5px;
      opacity: .4;

      &.selected {
        opacity: 1;
        cursor: default;
      }
    }

    .columnBtn {
      background: transparent url(/images/ui-column-layout.png) left top no-repeat;
    }

    .rowBtn {
      background: transparent url(/images/ui-row-layout.png) left top no-repeat;
    }
  }

  .table-dicos {
    display: table;
    width: 100%;
    margin-bottom: 1.5rem;

    .col {
      display: table;
      vertical-align: top;

      &.mots {
        display: table-cell;
        .lead {
          margin: .5rem 0;
          color: $text-color;
        }
      }

      &.dicos {
        width: 100%;
        table-layout: fixed;
        padding: 0 1.5rem;
      }

      h3 {
        margin-top: 0;
        margin-bottom: 10px;
      }
    }

    .row {
      display: table-row;
    }

    .column {
      display: table-cell;
      width: 33%;
      vertical-align: top;
      padding: 0 1.5rem;
    }

    /* classes bailly 2020 */
    .pp {
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 30px;
    }

    .rub {
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 15px;
    }

    .norm {
      margin-top: 5px;
      margin-bottom: 0;
    }
  }

  img {
    display: block;
    margin: 0 auto;
  }

  .entree-dico {
    margin: 20px 0;
  }

  table {
    tbody {
      tr {
        &:first-child td {
          font-weight: bold;
          text-transform: capitalize;
        }
        &:nth-child(2n+1) {
          td {
            background-color: $light-gray;
          }
        }
      }
    }
  }

  table tbody tr:nth-child(2n+1) td {
  background-color: #eceded;
}

  /* workaround to make a clearer distinction between the different tables (see results for conjugate/decline a word) */
  /* response should be better formatted by collatinus itself, not in css... */
  .table-responsive~p {
    font-weight: bold;
    margin-top: 15px;
    font-size: 1.1em;
  }

  #colMots {
    display: none;
  }

  .mots {
    a {
      text-decoration: none;
      list-style: none;
    }
  }
}


/* CONTENT BOTTOM
-------------------------------------------------*/

.content-bottom {
  background-color: $light-gray;
  padding: 1.5rem 0;
  margin-top: 1.5rem;
  color: $gray-700;
}


/* FOOTER
-------------------------------------------------*/

.footer {
  background-color: $blue-bbma;
  font-size: $font-size-sm;
  padding: 1rem 0;

  .region-footer {
    display: flex;
    justify-content: space-between;

    > div {
      margin: 1rem 0;
      padding: 0 1rem;
      border-left: .9px solid $gray-600;
    }

    p {
      color: $gray-500;
    }

    .nav-item {
      font-family: $font-family-serif;
      padding-bottom: .25rem;
    }

    .icons-rs a {
      font-size: $font-size-xxl;
      margin-right: 1.5rem;
    }

    .title-block-footer {
      font-family: $font-family-serif;
      font-size: 1rem;
    }
  }
}



/* ----------------------------------------
== TEMPORAIRES
---------------------------------------- */

/* Messages temporaires sur les traductions restantes */
.red {
  background-color: lighten(#FF0000, 20%);
  color: #FFF;
  padding: 0 5px;
}

/* ----------------------------------------
== GLOBALS
---------------------------------------- */

dt {
  font-size: 1.2em;
  margin: 30px 0 15px 0
}

table.table {
  thead {
    background: $green;

    th {
      color: #000;
      white-space: nowrap;
    }
  }

  tbody {
    td[align="center"] {
      text-align: center;
      vertical-align: middle;

      a {
        vertical-align: middle;
      }
    }
  }
}

.sl-close .glyphicon,
.sl-next .glyphicon,
.sl-prev .glyphicon,
.sl-counter {
  color: $green;
}

.sl-overlay {
  background: #000;
}

.modal {
  .close {
    opacity: 1;

    &:hover {
      opacity: 0.8;
    }

    .glyphicon {
      color: $green;
      opacity: 1;
      font-weight: 700;
    }
  }
}

.tab-content {
  margin-bottom: 3.5rem;
}

.card-quote {
  display: flex;
  background-color: $light-green;
  border-color: $green;
  margin-top: 1rem;

  .icon-quote {
    font-size: 3.5rem;
    align-content: center;
    margin-right: .875rem;
    color: $gray-700;
  }
  .text-quote {
    h3 {
      margin-bottom: 1rem;
    }
    p {
      margin-bottom: 0 !important;
      color: $gray-600;
    }
  }
}

/* BUTTONS & LINKS
-------------------------------------------------*/

.main-container a {
  &:not(.btn) {
    color: $link-color;
    border-bottom: .9px solid $link-color;
    text-decoration: none;
    &:hover {
      border-bottom: 2px solid $link-color;
    }
  }
  &:has(img),
  &:has(i) {
    border-bottom: none !important;
  }
}

.content-bottom {
  a {
    color: $gray-700;
    text-decoration: none;
    border-bottom: .9px solid $gray-700;
    &:hover {
      border-bottom: 2px solid $gray-700;  
    }
  }
}

.footer {
  a {
    color: $gray-500;
    text-decoration: none;
    &:hover {
      color: $green;
    }
  }
}

.btn {
  background-color: $green;
  color: $text-color;
  white-space: normal;
  margin: 0;
  border: none;
  border-radius: 0;

  &:hover,
  &:focus,
  &:active,
  &.focus {
    opacity: 1;
    background: $btn-hover-color !important;
    color: $text-hover-color;
    border: none !important;
  }

  &.btn-clear {
    background: none;
    border: 1px solid $red;
    color: $red;
  }

  &.btn-danger[disabled="disabled"],
  &.btn-warning[disabled="disabled"] {
    white-space: normal;
    opacity: 1;
  }
}

.alert-danger {
  .btn-primary {
    margin-left: 5px;
    padding: 6px 12px;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
  }
}


/* ----------------------------------------
==== BANNER + GENERAL STYLES + COLLATINUS
---------------------------------------- */

.top-banner {
  background: url(/images/bg-collatinus.jpg) no-repeat center center;
  background-size: cover;
  padding-bottom: 30px;
  height: 300px; /* égal à collatinus en desktop */

  .container {
    height: 100%;
  }

  .banner-content {
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    .page-identity {
      text-shadow: 1px 1px 3px rgba(0,0,0,.65);

      .page-name {
        font-family: $font-family-serif;
        font-size: 3.5rem;
        font-weight: 600;
        color: #FFF;
        margin: 0px 0px 10px;

        .page-slogan {
          font-family: $font-family-sans-serif;
          font-size: $h5-font-size;
          font-weight: normal;
          display: block;
          margin-top: .5rem;
        }
      }
    }

    h2 {
      font-family: 'Source sans pro', sans-serif;
      font-weight: normal;
      font-size: 21px;
      color: #FFF;
      margin-top: 0;
      margin-bottom: 0;
    }

    .buttons-container {
      display: inline-block;
      max-width: 320px;
      min-width: 290px;

      .btn-group {
        width: 100%;

        .dropdown-toggle {
          &.show {
            background: $btn-hover-color;
          }
        }

        .dropdown-menu {
          background: $green;
          border: none;
          border-radius: 0;
          padding: 0;
          margin: 0;
          width: 100%;

          li {
            a {
              &:hover {
                background: lighten($green, 5%);
              }
            }
          }

          .dropdown-divider {
            border-top: solid 1px darken($green, 30%);
          }
        }
      }

      .btn {
        width: 100%;
        margin-bottom: .5rem;
      }
    }
  }
}

.region-content {

  h2 {
    border: none;
  }

  #downloads {
    .btn {
      margin-bottom: 10px;
    }

    .btn-lg {
      width: 250px;
    }
  }
}



.nav-pills {
  border-bottom: solid 1px $green;

  li {
    margin-right: .75rem;
    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    .nav-link {
      border-radius: 0;
      color: $text-color;
      white-space: nowrap;
      font-weight: 600;
      font-size: $font-size-md;
      border: none !important;

      &.active,
      &:hover,
      &:active,
      &:focus {
        background: $nav-hover-color;
        color: $nav-text-color;
      }
    }
  }
}

.tab-pane {
  margin: 1.5rem 0;
}

/* ----------------------------------------
==== COLLATINUS-WEB
---------------------------------------- */

.collatinus-web {
  .pager {
    .previous a {
      &:before {
        content: '\2190';
        padding-right: 5px;
      }
    }

    .next a {
      &:after {
        content: '\2192';
        padding-left: 5px;
      }
    }
  }

  .title-results {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0 20px;

    span {
      background: #fff;
      padding: 0 10px;
    }
  }
}

/* ----------------------------------------
==== EULEXIS
---------------------------------------- */

body.navbar-is-fixed-top.scroll-demo {
  transition: none;
  padding-top: 0;

  #contentDiv {
    top: 228px;
  }

  header {
    position: static;
  }
}

.eulexis,
.eulexis-web {
  .top-banner {
    background: url(/images/bg-eulexis.jpg) no-repeat;
    background-size: cover;
  }
}

:target+li {
  background-color: #FFFBCC;
}


/* HOME
-------------------------------------------------*/

.home {
  .cards-outils {
    column-gap: 5rem;
    row-gap: 2.5rem;
    justify-content: center;
  }
  .card {
    border: none !important;
    text-align: center;
    background-color: $grey;
    padding: .5rem;
    width: 300px;
  }
  .card-link {
    font-weight: 600;
  }  
}


/* MEDIA QUERIES
-------------------------------------------------*/


@media (min-width: 992px) {
  .form-traitement {
    .form-group {
		max-width: 66%;
	}
  }
}

@media (max-width: 991px) {

  .eulexis {
    form {

      label[for="recherche_lemme"],
      label[for="flexion_lemme"],
      label[for="lemmatiser_texte"] {
        width: auto;
      }

      .lemmatiser {
        padding-left: 0;
      }
    }
  }
}

@media (min-width: 768px) {
  .form-inline .form-group {
    margin-bottom: 5px;
  }
}

@media (max-width: 580px) {
  .form-traitement .form-flex {
    flex-direction: column;
    > div {
      margin-bottom: 15px;
    }
  }
}

@media (max-width: 767px) {
  .navbar {
    .menu-biblissima {
      ul {
        li {
          a {
            &.active {
              color: #FFF;
            }
          }
        }
      }
    }

    .langue-box {
      padding: 0;

      li:first-child {
        padding-left: 0;
      }
    }
  }

  .top-banner {

    .banner-content {
      h1 {
        font-size: 43px;
      }

      h2 {
        margin-bottom: 15px;
      }

      .text-right {
        text-align: left;
      }
    }
  }

  .nav-pills {

    li,
    li+li {
      padding: 0;
      margin: 0;

      a {
        padding: 5px 10px;
        text-align: left;
      }
    }
  }

  .eulexis {
    .top-banner {
      min-height: 0;
      background-position-x: 40%;
    }
  }
}

