<section class="top-banner">
  <div class="container">
    <div class="banner-content row sm-flex">
      <div class="col-sm-7 col-md-8">
        <h1>Collatinus-web</h1>
        <h2>Version web du lemmatiseur et analyseur <br />morphologique de textes latins</h2>
      </div>
      <div class="col-sm-5 col-md-4 text-right">
        <div class="buttons-container">
          <a href="https://github.com/biblissima/collatinus/tree/Daemon" class="btn btn-lg"><span class="fa fa-github"></span>Collatinus-web sur Github</a>
          <a href="/fr/collatinus" class="btn btn-lg" data-toggle="tooltip" data-placement="bottom" data-original-title="Mac, Windows, GNU/Linux">Tester la version bureau</a>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="main-container container" role="main">
  <div class="row">
    <section class="col-sm-12">
      <div class="region region-content">
        <div class="intro">
          <p class="lead">
            Version web du logiciel multi-plateforme <a href="/fr/collatinus" title="Page de téléchargement de Collatinus">Collatinus</a>, un <strong>lemmatiseur</strong> et <strong>analyseur morphologique</strong> de textes latins.
          </p>
          <div class="news bg-warning">
          	<p>Juin 2021</p>
          	<p class="lead">&mdash; Deux langues ajoutées au registre de Collatinus : le <strong>Hollandais</strong> et <strong>l'Euskara</strong>.</p>
          	<p class="lead">&mdash; Lancement d'une campagne de vérifications des traductions dans les langues de l'Espagne :</p>
          	<p>(FR) Une vaste campagne de vérification des traductions a été lancée par nos amis espagnols. Il s'agit de vérifier les traductions des lemmes latins dans les quatre langues officielles de l'Espagne : le <strong>Castillan</strong>, le <strong>Catalan</strong>, <strong>l'Euskara</strong> et le <strong>Galicien</strong>. Si vous souhaitez participer à cette relecture, <a href="mailto:collatinus@biblissima-condorcet.fr">contactez-nous</a> : nous vous mettrons en contact avec les équipes concernées.</p>
          	<p>(ES) Una amplia campaña de verificación de traducciones se ha iniciado por parte de nuestros amigos españoles. Se trata de verificar las traducciones de los términos latinos en las cuatro lenguas oficiales de España: <strong>castellano</strong>, <strong>catalán</strong>, <strong>euskara</strong> y <strong>gallego</strong>. Si desean participar en esta revisión, <a href="mailto:collatinus@biblissima-condorcet.fr">pónganse en contacto con nosotros</a> para que podamos ponerles en contacto con los equipos correspondientes.</p>
          </div>
          <p>Collatinus-web est basé sur la <strong>version 11.2 de Collatinus</strong>. Son lexique a été élargi grâce au dépouillement systématique des dictionnaires numériques (Gaffiot 2016, Jeanneau 2017, Lewis &amp; Short 1879 et Georges 1913). Le lexique contient aujourd'hui plus de 80&nbsp;000 lemmes.</p>
          <p>Faute de place sur une page web, les options de Collatinus 11 ne sont pas toutes accessibles. Pour un usage ponctuel, cette page web convient. Pour une utilisation plus poussée, nous recommandons l'installation de la <a href="/fr/collatinus" title="Page de téléchargement de Collatinus">version résidente de Collatinus</a> qui est disponible pour Windows, Mac OS et Linux/Debian.</p>
          <p>
            Cette application est mise à disposition sans aucune garantie et reste soumise à corrections et améliorations.
          </p>
        </div>
        <div class="forms">
          <form method="post" role="form" class="form-lemme form-inline" id="form">
            <div class="form-group">
              <label for="recherche_lemme" class="main-label">Rechercher le mot</label>
              <input type="search" name="lemme" id="recherche_lemme" class="form-control" size="40" placeholder="Entrez un mot latin...">
            </div>
            <div class="form-group">
              <label for="dicos">&nbsp;dans le dictionnaire&nbsp;</label>
              <select name="dicos" id="dicos">
                <option value="dgaf " title="latin-français">Gaffiot</option>
                <option value="dlew " title="latin-anglais">Lewis &amp; Short</option>
                <option value="dgeo " title="latin-allemand">Georges</option>
                <option value="djea " title="latin-français">Jeanneau</option>
                <option value="dduc " title="glossaire du latin médiéval">du Cange</option>
                <option value="dram " title="néolatin-allemand">Ramminger</option>
                <option value="dkoe " title="latin médiéval-allemand">Köbler</option>
                <option value="dcal " title="latin-italien">Calonghi (mode image)</option>
                <option value="dfar " title="latin-portugais">Faria (mode image)</option>
                <option value="dfg " title="latin-français">Gaffiot (mode image)</option>
                <option value="drai " title="latin-espagnol">De Miguel (mode image)</option>
                <option value="dval " title="latin-espagnol">Valbuena (mode image)</option>
              </select>
              <button type="submit" value="Rechercher" class="btn btn-success" aria-controls="results">Valider</button>
            </div>
            <input type="hidden" name="opera" value="consult">
            <input type="hidden" name="token" value="<?php echo $token ?>">
          </form>
          <form method="post" role="form" class="form-lemme form-inline">
            <div class="form-group">
              <label for="flexion_lemme" class="main-label">Conjuguer/décliner le mot</label>
              <input type="search" name="lemme" id="flexion_lemme" class="form-control" size="40" placeholder="Entrez un mot latin...">
            </div>
            <div class="form-group">
              <button type="submit" value="Fléchir" class="btn btn-success" aria-controls="results">Valider</button>
            </div>
            <input type="hidden" name="opera" value="flexion">
            <input type="hidden" name="token" value="<?php echo $token ?>">
          </form>
          <form method="post" role="form" class="form-lemme form-traitement">
            <div class="form-group">
              <label for="traitement_texte" class="main-label">Traiter un texte latin</label>
              <textarea name="texte" id="traitement_texte" class="form-control" rows="6" cols="80" placeholder="Entrez un texte latin..."></textarea>
            </div>
            <div class="form-group form-flex">
            	<div>
	              <label for="langue">Langue cible&nbsp;</label>
	              <select name="langue" id="langue">
	                <option value="es ">Castellano</option>
	                <option value="ca ">Catalán</option>
	                <option value="de ">Deutsch</option>
	                <option value="en ">English</option>
	                <option value="eu ">Euskara</option>
	                <option value="fr " selected="selected">Français</option>
	                <option value="gl ">Galego</option>
	                <option value="it ">Italiano</option>
	                <option value="nl ">Nederlands</option>
	              </select>
	            </div>
	            <div>
              	<button type="button" name="action" value="Effacer" class="btn btn-default btn-sm btn-clear" aria-controls="results"><span class="glyphicon glyphicon-remove-circle"></span> Effacer la saisie</button>
              </div>
            </div>
            <div class="form-group">
              <button type="submit" name="action" value="Lemmatiser" class="btn btn-success" aria-controls="results"> Lemmatiser</button>
              <button type="submit" name="action" value="Analyser" class="btn btn-success" aria-controls="results">Analyser</button>
              <button type="submit" name="action" value="Taguer" class="btn btn-success" aria-controls="results">Taguer</button>
              <button type="submit" name="action" value="Scander" class="btn btn-success" aria-controls="results">Scander</button>
              <button type="submit" name="action" value="Accentuer" class="btn btn-success" aria-controls="results">Accentuer</button>
            </div>
            <input type="hidden" name="opera" value="traite_txt">
            <input type="hidden" name="token" value="<?php echo $token ?>">
          </form>
        </div>
        <div class="results-container" id="myAffix-wrapper">
          <div class="results-header" id="myAffix"></div>
          <div id="results" aria-live="polite" aria-label="Réponse de Collatinus à votre requête">
          </div>
        </div>
        <div class="well">
          <h3>Crédits</h3>
          <p>Collatinus web est développé par Yves Ouvrard, avec l'aide de Philippe Verkerk et Régis Robineau.</p>
          <p>Une bonne partie des traductions en hollandais ont été revues par Jan Bart.</p>
          <p>Les traductions en Euskara ont été revues par un groupe d'enseignants à l'initiative de Carlos Cabanillas : Garbiñe Agirre Urteaga ; Ana Botello Fernandez ; Francisco Garayoa Huarte ; Alvaro Hurtado Usoz ; Maite Jurio Bidarte ; Jesús Madinabeitia Ortiz de Lazcano ; Begoña Martinez Lasheras ; Amaia Zubillaga Mina.</p>
        </div>
      </div>
    </section>
  </div>
</div>
<section class="content-bottom">
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <p>
          <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/" class="license"><img alt="Creative Commons License" style="border-width:0" src="https://static.biblissima.fr/images/cc-by-nc-4.0-88x31.png">Creative Commons Attribution-NonCommercial 4.0 International License</a>
        </p>
        <p>
          <small>Yves Ouvrard et Philippe Verkerk, 2019 – Programme mis à votre disposition sans aucune garantie, mais avec l'espoir qu'il vous sera utile.</small>
        </p>
      </div>
      <div class="col-sm-3">
        <p>Des remarques ou questions ? :<br />
          <span class="glyphicon glyphicon-envelope"></span><a href="mailto:collatinus@biblissima-condorcet.fr">Nous contacter</a></p>
      </div>
    </div>
  </div>
</section>
<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="modal-error">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true" class="glyphicon glyphicon-remove-sign"></span><span class="sr-only">Fermer</span></button>
        <h4>Erreur</h4>
      </div>
      <div class="modal-body">
        <div class="alert alert-warning">
          Veuillez saisir un texte dans un des champs.
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
