<footer class="footer" role="contentinfo">
    <div class="container">
        <div class="region-footer row">
            <div class="col-lg-3 col-sm-6">
                <nav role="navigation">
                    <ul class="nav navbar-nav">
                        {% if page.lang == 'en' %}
                        <li class="nav-item">
                            <a href="{{site.url_projet}}/en" target="_blank">About Biblissima+</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{site.url_projet}}/en/contact" target="_blank">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{site.url_projet}}/en/legal-notice" target="_blank">Legal Notice</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a href="{{site.url_projet}}" target="_blank">A propos de Biblissima+</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{site.url_projet}}/contact" target="_blank">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{site.url_projet}}/mentions-legales" target="_blank">Mentions légales</a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3 col-sm-6">
                <p class="title-block-footer">{% if page.lang == 'en' %} Follow us: {% else %} Nous suivre {% endif %}</p>
                <ul class="nav icons-rs">
                  <li>
                    <a href="https://listes.campus-condorcet.fr/sympa/arc/biblissima-info-membres" title="Liste de diffusion"><i class="bi bi-envelope-fill"></i></a>
                  </li>
                  <li>
                    <a href="https://bsky.app/profile/biblissima.bsky.social" rel="me" title="Bluesky"><i class="bi bi-bluesky"></i></a>
                  </li>
                  <li>
                    <a href="https://universites.social/@biblissima" rel="me" title="Mastodon"><i class="bi bi-mastodon"></i></a>
                  </li>
                  <li>
                    <a href="https://www.youtube.com/channel/UCaHWzwUV0xBAQ-sEdE9EtKg" title="Youtube"><i class="bi bi-youtube"></i></a>
                  </li>
                  <li>
                    <a href="https://github.com/biblissima" title="Github"><i class="bi bi-github"></i></a>
                  </li>
                  <li>
                    <a href="https://gitlab.huma-num.fr/biblissima" title="Gitlab"><i class="bi bi-gitlab"></i></a>
                  </li>
                </ul>
            </div>
            <div class="col-lg-3 col-sm-6">
                <p>ÉquipEx BIBLISSIMA+<br>
                Campus Condorcet<br>
                Bâtiment EPCC - Hôtel à projets<br>
                8, cours des Humanités<br>
                93322 Aubervilliers CEDEX</p>
            </div>
            <div class="col-lg-3 col-sm-6 d-flex">
                <p><img alt="logo France 2030" class="align-left" src="https://projet.biblissima.fr/sites/default/files/logos/Logotype-blanc-France2030.png" width="85"></p>
                <p class="ps-2">{% if page.lang == 'en' %} Biblissima+ benefits from State funding managed by the ANR within the "Programme d’investissements d’avenir" integrated in France 2030, reference ANR-21-ESRE-0005. {% else %} Biblissima+ bénéficie d’une aide de l'Etat gérée par l'ANR au titre du Programme d’investissements d’avenir intégré à France 2030, portant la référence ANR-21-ESRE-0005. {% endif %}</p>
            </div>
        </div>
    </div>
</footer>
