<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }} - {{page.description}} | {{ site.data.site_info[page.lang].description }}</title>
  <meta name="description" content="{{ page.description_meta }}">
  <!-- CSS -->
  <link href="build/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="build/assets/css/simplelightbox.min.css" rel="stylesheet" type="text/css">
  <link href="build/assets/css/outils.css" rel="stylesheet" type="text/css">
  <style>
  	body {
      font-family: "Arial", "Helvetica", sans-serif;
    }
    .fonts-loaded body {
      font-family: "Source Sans Pro", "Arial", "Helvetica", sans-serif;
    }
  </style>
</head>
