{% include collatinusweb_session.php %}
<!DOCTYPE html>
<html lang="fr">
  {% include head_variant.html %}
  <body class="not-front biblissima site-outils {{page.id}} {{page.lang}}">
  {{ content }}      
  <div class="site-cache" id="site-cache"></div>
  <script type="text/javascript" src="/{{page.id}}/build/assets/js/vendor/jquery-1.10.2.min.js"></script>
  <script type="text/javascript" src="/{{page.id}}/build/assets/js/vendor/simplelightbox.min.js"></script>
  <script type="text/javascript" src="/{{page.id}}/build/assets/js/outils.js"></script>
  <script type="text/javascript" src="/{{page.id}}/collatinus-web.js"></script>
  </body>
</html>
